// https://www.linkedin.com/posts/74ahmedmohamed_awesome-color-palettes-part-5-activity-7027568939974967296-waOt?utm_source=share&utm_medium=member_desktop

$brown: #8f4f07;
$beige: #f3e4c7;
$silver: #fafafa;
$sea: #73bff3;

// WINTER

$dark-gray: #58626c;
$skin: #dac8be;
$warm: #ecc1a1;
$light-silver: #f1f5ee;
